:root {
  --main-color: #42daf5;
  --background: #292828;
  --secondary: #ffffff;
  --link: #427bf5;
  --text-color: rgb(255, 255, 255);
  --secondary-text-color: #ffffff;
} 
h1 {
  color: rgb(255, 255, 255);
  font-weight: 0.2;
  opacity: 0.8;
}
h3 {
  color: rgb(255, 255, 255);
  font-weight: 0.15;
  opacity: 0.8;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;

}

p {
  color:#ffff;
  font-weight: 0.2;
  opacity: 0.8;
  align-self: auto;
  text-align: center;
}

h2 {
  color: #ffff;
  font-weight: 0.2;
  opacity: 0.8;
}
/* accordion */

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  color: var(--secondary-text-color);
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--text-color);
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--link);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text-color);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: var(--link);
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: var(--link);
  border-right: 1px solid var(--link);
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--link);
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 250em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

div#features {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 25px;
  background: var(--background);
}

div#features:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.partner:hover {
  border-radius: 598px;
  border-style: solid;
  border-color: var(--main-color);
}

.partner {
  width: 160px;
  height: 160px;
  transition: all 200ms linear;
}

.yeet {
  text-align: center;
  padding: 18px;
}

